@charset "UTF-8";
.footer__socialLink, .button, .desktopNav__contactItem, .desktopNav__contactLink, .menuButton, .teamMember__socialLink, .feedbackModal__agreementLabel, .closeButton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*Обнуление всех отступов на странице*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*Отображение семантических елементов как блочных*/
nav, footer, header, aside, ul {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  min-height: 100vh;
}

body.modal-open {
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.pageSection {
  padding: 60px 0;
  background-color: #FFFFFF;
}

.pageSection--grayBG {
  background-color: #F5F4FA;
}

@media screen and (min-width: 1200px) {
  .pageSection {
    padding: 94px 0;
  }
  .pageSection--withoutTopPadding {
    padding-top: 0;
  }
}

.pageSection__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .pageSection__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.19;
  font-weight: 700;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    color: #000;
  }
}

.logo__accent {
  color: #2196F3;
}

.header__content {
  position: relative;
}

@media screen and (min-width: 768px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo {
  padding: 16px 0;
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}

@media screen and (min-width: 768px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__contactsWrapper {
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__contactsWrapper {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contactsWrapper {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__logo {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer__contactItem:not(:last-child) {
  margin-bottom: 8px;
}

.footer__contactLink {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contactLink:hover, .footer__contactLink:focus {
  color: #2196F3;
}

.footer__socialsWrapper {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__socialsWrapper {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__socialsWrapper {
    padding-top: 12px;
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__subTitle {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__socialsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__socialItem:not(:last-child) {
  margin-right: 10px;
}

.footer__socialLink {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socialLink:hover {
  background-color: #2196F3;
}

.footer__socialIcon {
  fill: #FFFFFF;
}

.footer__subscribeWrapper {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
}

@media screen and (min-width: 1200px) {
  .footer__subscribeWrapper {
    padding-top: 12px;
    text-align: left;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.footer__subscribeInput {
  width: 100%;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__subscribeInput {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.button {
  min-width: 200px;
  padding: 10px 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196F3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #188CE8;
}

.button_icon {
  margin-left: 10px;
  fill: #FFFFFF;
}

.mobileNav {
  position: absolute;
  z-index: 2;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px;
  background-color: #FFFFFF;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobileNav.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .mobileNav {
    display: none;
  }
}

.mobileNav__navMenu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 479px) {
  .mobileNav__navMenu {
    font-size: 36px;
  }
}

.mobileNav__navItem {
  margin-bottom: 32px;
}

.mobileNav__navLink {
  display: block;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobileNav__navLink--active {
  color: #2196F3;
}

.mobileNav__navLink:hover, .mobileNav__navLink:focus {
  color: #2196F3;
}

.mobileNav__contactsList {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  color: #757575;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

.mobileNav__contactLink {
  color: #757575;
}

.mobileNav__contactItem:not(:last-child) {
  margin-bottom: 32px;
}

.mobileNav__contactItem:first-child {
  margin-bottom: 32px;
  font-size: 34px;
}

.mobileNav__contactItem:first-child .mobileNav__contactLink {
  color: #2196F3;
}

@media screen and (max-width: 479px) {
  .mobileNav__contactItem:first-child {
    font-size: 24px;
  }
}

.mobileNav__contactLink {
  display: block;
}

.mobileNav__socialsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2196F3;
}

@media screen and (max-width: 479px) {
  .mobileNav__socialsList {
    font-size: 14px;
  }
}

.mobileNav__socialItem:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobileNav__socialItem:not(:first-child) {
  padding-left: 10px;
}

.mobileNav__socialLink {
  color: #2196F3;
}

.desktopNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 88px;
}

@media screen and (max-width: 767px) {
  .desktopNav {
    display: none;
  }
}

.desktopNav__navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 84px;
}

@media screen and (min-width: 1200px) {
  .desktopNav__navMenu {
    margin-right: 305px;
  }
}

.desktopNav__navItem {
  margin-right: 50px;
}

.desktopNav__navItem:last-child {
  margin-right: 0;
}

.desktopNav__navLink {
  display: inline-block;
  padding: 32px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.desktopNav__navLink--active {
  position: relative;
  color: #2196F3;
}

.desktopNav__navLink--active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.desktopNav__navLink:hover {
  color: #2196F3;
}

@media screen and (min-width: 1200px) {
  .desktopNav__contactsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .desktopNav__contactItem {
    margin-bottom: 10px;
  }
  .desktopNav__contactItem:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .desktopNav__contactItem {
    margin-right: 30px;
  }
  .desktopNav__contactItem:last-child {
    margin-right: 0;
  }
}

.desktopNav__contactLink {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.desktopNav__contactLink:hover {
  color: #2196F3;
}

@media screen and (min-width: 1200px) {
  .desktopNav__contactLink {
    font-size: 14px;
    padding: 32px 0;
  }
}

.desktopNav__contactIcon {
  margin-right: 8px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.desktopNav__contactIcon--email {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .desktopNav__contactIcon--email {
    width: 16px;
    height: 12px;
  }
}

.desktopNav__contactIcon--tel {
  width: 10px;
  height: 16px;
}

.desktopNav__contactLink:hover .desktopNav__contactIcon {
  fill: #2196F3;
}

.menuButton {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .menuButton {
    display: none;
  }
}

.menuIcon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menuIcon:hover {
  fill: #2196F3;
}

.menuIcon__cross {
  display: none;
}

.menuButton.is-open .menuIcon__cross {
  display: block;
}

.menuButton.is-open .menuIcon__burger {
  display: none;
}

.hero {
  padding: 118px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/heroBackground.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero_title {
  margin: 0 auto;
  max-width: 360px;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero_title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

@media screen and (min-width: 768px) {
  .featuresList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.featureItem {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .featureItem:last-child {
    margin-bottom: 0;
  }
}

.featureItem::before {
  content: '';
  display: block;
  margin-bottom: 30px;
  min-height: 120px;
  background-color: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
}

.featureItem--antenna::before {
  background-image: url(../images/featuresIcons/antenna.svg);
}

.featureItem--clock::before {
  background-image: url(../images/featuresIcons/clock.svg);
}

.featureItem--diagram::before {
  background-image: url(../images/featuresIcons/diagram.svg);
}

.featureItem--astronaut::before {
  background-image: url(../images/featuresIcons/astronaut.svg);
}

@media screen and (min-width: 768px) {
  .featureItem {
    width: calc((100% - 60px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .featureItem {
    width: calc((100% - 120px)/4);
  }
}

.featureItem_title {
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

@media screen and (min-width: 768px) {
  .featureItem_title {
    text-align-last: left;
  }
}

.featureItem_description {
  line-height: 1.71;
  color: #757575;
}

/* what we doing */
@media screen and (max-width: 1199px) {
  .whatWeDoingSection {
    display: none;
  }
}

.whatWeDoingList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

.whatWeDoingList__item {
  position: relative;
  margin: 15px;
}

.whatWeDoingList__image {
  display: block;
  height: 100%;
}

.whatWeDoingList__description {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  text-align: center;
  padding: 27px 0;
}

@media screen and (min-width: 768px) {
  .teamList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.teamMember {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  font-size: 16px;
  padding-bottom: 24px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .teamMember:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .teamMember {
    width: calc((100% - 60px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .teamMember {
    width: calc((100% - 120px)/4);
    margin: 15px;
  }
}

.teamMember__image {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .teamMember__image {
    height: 374px;
  }
}

.teamMember__name {
  color: #212121;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.18;
}

.teamMember__position {
  line-height: 1.18;
  color: #757575;
  margin-bottom: 16px;
}

.teamMember__socialsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teamMember__socialItem {
  margin-right: 10px;
}

.teamMember__socialItem:last-child {
  margin-right: 0;
}

.teamMember__socialLink {
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teamMember__socialLink:hover {
  background-color: #2196F3;
}

.teamMember__socialIcon {
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teamMember__socialLink:hover .teamMember__socialIcon {
  fill: #FFFFFF;
}

.clientsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clientsList__item {
  width: 210px;
  height: 92px;
  margin: 15px;
}

@media screen and (min-width: 1200px) {
  .clientsList__item {
    width: 170px;
  }
}

.clientsList__link {
  display: inline-block;
  max-height: 92px;
}

.clientsList__icon {
  width: 210px;
  height: 92px;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clientsList__icon:hover {
  fill: #2196F3;
  border: 1px solid #2196F3;
}

@media screen and (min-width: 1200px) {
  .clientsList__icon {
    width: 170px;
  }
}

/* feedback-modal */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .feedbackModal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.feedbackModal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  min-width: calc(100% - 30px);
  background-color: #FFFFFF;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .feedbackModal {
    min-width: 450px;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .feedbackModal {
    min-width: 528px;
    min-height: 581px;
  }
}

.feedbackModal__title {
  text-align: center;
  color: #212121;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 12px;
}

.feedbackModal__textFieldsGroup {
  margin-bottom: 20px;
}

.feedbackModal__formField:not(:last-child) {
  position: relative;
  margin-bottom: 10px;
}

.feedbackModal__fieldLabel {
  display: inline-block;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
}

.feedbackModal__textField {
  display: block;
  min-width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedbackModal__textField--forComents {
  resize: none;
  padding: 12px 16px;
  min-height: 120px;
}

.feedbackModal__textField:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.feedbackModal__inputIcon {
  position: absolute;
  bottom: 14px;
  left: 15px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedbackModal__formField:focus-within .feedbackModal__inputIcon {
  fill: #2196F3;
}

.feedbackModal__agreementField {
  margin-bottom: 30px;
}

.feedbackModal__agreementFieldCheckbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline;
}

.feedbackModal__agreementLabel {
  font-size: 12px;
  line-height: 1.7;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.feedbackModal__agreementLabel::before {
  content: '';
  display: inline-block;
  min-width: 16px;
  min-height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: transparent;
}

.feedbackModal__agreementFieldCheckbox:checked + .feedbackModal__agreementLabel::before {
  border: 2px solid #2196F3;
  background-color: #2196F3;
  background-image: url(../images/icons/iconCheck.svg);
  background-size: contain;
  background-origin: border-box;
}

.feedbackModal__agreementConditionsLink {
  text-decoration: underline;
  color: #2196F3;
}

.button.feedbackModal__button {
  display: block;
  margin: 0 auto;
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.closeButton__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closeButton:hover .closeButton__icon {
  fill: #2196F3;
}
/*# sourceMappingURL=studioPage.css.map */