.clientsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -30px;

    @media screen and (max-width: 449px) {
        justify-content: center; 
    }
}

.clientsList__item {
    width: 210px;
    height: 92px;
    margin-bottom: 30px;   
}

.clientsList__link {
    display: inline-block;
    max-height: 92px;
    
}
.clientsList__icon {
    width: 210px;
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    &:hover {
        fill: $activIconFillColour;
        border: 1px solid $activIconFillColour; 
    }
}