.clientsList {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    justify-content: center; 
}

.clientsList__item {
    width: 210px;
    height: 92px;
    margin: 15px;

    @media screen and (min-width: 1200px) {
        width: 170px
    }
}

.clientsList__link {
    display: inline-block;
    max-height: 92px;
    
}
.clientsList__icon {
    width: 210px;
    height: 92px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: fill $transitionSetting, border $transitionSetting;

    &:hover {
        fill: $activIconFillColor;
        border: 1px solid $activIconFillColor; 
    }

    @media screen and (min-width: 1200px) {
        width: 170px
    }
}