.closeButton {
    position: absolute;
    top: 8px;
    right: 8px;

    @extend %flex-center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.closeButton__icon {
    transition: fill $transitionSetting;
}

.closeButton:hover .closeButton__icon {
    fill: $activIconFillColor;
}