.featuresList {

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

}

.featureItem {
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
        &:last-child {
            margin-bottom: 0;
        }
    }

    &::before {
        content: '';
        display: block;
        margin-bottom: 30px;
        min-height: 120px;
        background-color: $secondaryBackgroundColour;
        background-repeat: no-repeat;
        background-position: center;
    }
    &--antenna::before {
        background-image: url(../images/featuresIcons/antenna.svg);
    }
    &--clock::before {
        background-image: url(../images/featuresIcons/clock.svg);
    }
    &--diagram::before {
        background-image: url(../images/featuresIcons/diagram.svg);
    }
    &--astronaut::before {
        background-image: url(../images/featuresIcons/astronaut.svg);
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 60px)/2);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 120px)/4);
    }
}

.featureItem_title {
    margin-bottom: 10px;
    text-align: center;
    color: $primaryTitleTextColour;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;

    @media screen and (min-width: 768px) {
        text-align-last: left;
    }
}

.featureItem_description {
    line-height: 1.71;
    color: $primaryTextColour;
}