.hero {
    padding: 118px 0;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), 
                                               rgba(47, 48, 58, 0.4)), 
                      url(../images/heroBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    @media screen and (min-width: 1200px) {
        padding: 200px 0;
    }
}


.hero_title {
    margin: 0 auto;
    max-width: 360px;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $secondaryTextColor;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
    }
}
