.logo {
    display: inline-block;
    font-family: $secondaryFontFamily;
    font-size: 24px;
    line-height: 1.19;
    font-weight: 700;
    color: $primaryTitleTextColour;

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        color: #000;
    }
}

.logo__accent {
    color: $accentTextColour;
}