.menuButton {
    @extend %flex-center;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 3;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menuIcon {
    transition: fill $transitionSetting;
}

.menuIcon:hover {
    fill: $activIconFillColor;
}

.menuIcon__cross {
    display: none;

    .menuButton.is-open & {
        display: block;
    }
}

.menuButton.is-open .menuIcon__burger {
    display: none;
}
