.projectsFilterForm {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }
}

.projectsFilterForm__field {
    margin-top: 15px;
    margin-right: 5px;
    
    &:last-child {
        margin-right: 0;
    }
}

.projectsFilterForm__radioBtn {
    appearance: none;
}

.projectsFilterForm__button {
    @extend %flex-center;
    border-radius: 4px;
    background-color: $secondaryBackgroundColor;
    padding: 6px 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    color: $primaryTitleTextColor;
    cursor: pointer;
    transition: background-color $transitionSetting, color $transitionSetting, box-shadow $transitionSetting;

    &:hover {
        background-color: $secondaryLabelBackgroundColor;
        color: $secondaryTextColor;
    }
    
    .projectsFilterForm__radioBtn:checked + & {
        background-color: $secondaryLabelBackgroundColor;
        color: $secondaryTextColor;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

}