body {
    display: flex;
    flex-direction: column;
    font-family: $pramaryFontFamaly;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    min-height: 100vh;

    &.modal-open {
        overflow: hidden;
    }
}

main {
    flex: 1 1 auto;
}

.container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        max-width: 768px;   
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;   
    }
}

.pageSection {
    padding: 60px 0;
    background-color: $primaryBackgroundColour;

    &--grayBG {
        background-color: $secondaryBackgroundColour;
    }

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
        
        &--withoutTopPadding {
            padding-top: 0;
        }  
    }

    
}

.pageSection__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
    line-height: 1.17;
    font-weight: 700;
    color: $primaryTitleTextColour;

    @media screen and (min-width: 1200px){
        margin-bottom: 50px;
    }
}