$transitionSetting: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$pramaryFontFamaly: 'Roboto', sans-serif;
$secondaryFontFamily: 'Raleway', sans-serif;

$primaryTitleTextColor: #212121;
$secondaryTitleTextColor: #FFFFFF;

$primaryTextColor: #757575;
$secondaryTextColor: #FFFFFF;
$accentTextColor: #2196F3;

$primaryIconFillColor: #AFB1B8;
$secondaryIconFillColor: #FFFFFF;
$activIconFillColor: #2196F3;
$primaryIconBackgroundColor: #FFFFFF;
$secondaryIconBackgroundColor: rgba(255, 255, 255, 0.1);

$primaryBackgroundColor: #FFFFFF;
$secondaryBackgroundColor: #F5F4FA;
$footerBackgroundColor: #2F303A;
$primaryLabelBackgroundColor: rgba(47, 48, 58, 0.8);
$secondaryLabelBackgroundColor: rgba(33, 150, 243, 0.9);
$primaryButtonBackgroundColor:#2196F3;
$hoverButtonBackgroundColor: #188CE8;

%flex-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

