$pramaryFontFamaly: 'Roboto', sans-serif;
$secondaryFontFamily: 'Raleway', sans-serif;

$primaryTitleTextColour: #212121;
$secondaryTitleTextColour: #FFFFFF;

$primaryTextColour: #757575;
$secondaryTextColour: #FFFFFF;
$accentTextColour: #2196F3;

$primaryIconFillColour: #AFB1B8;
$secondaryIconFillColour: #FFFFFF;
$activIconFillColour: #2196F3;
$primaryIconBackgroundColour: #FFFFFF;
$secondaryIconBackgroundColour: rgba(255, 255, 255, 0.1);

$primaryBackgroundColour: #FFFFFF;
$secondaryBackgroundColour: #F5F4FA;
$footerBackgroundColour: #2F303A;
$primaryLabelBackgroundColour: rgba(47, 48, 58, 0.8);
$secondaryLabelBackgroundColour: rgba(33, 150, 243, 0.9);;